@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

:root {
  --background-color: #113;
  --link-color: rgb(94, 149, 252);
  --text-color: white;
  --card-shadow: #5f6368;
  --font: 'Atkinson Hyperlegible', sans-serif;
  --logo-filter: invert(1);
}

[data-theme="light"] {
  --background-color: rgb(250, 250, 236);
  --link-color: rgb(94, 149, 252);
  --text-color: #111;
  --card-shadow: rgba(0, 0, 0, 0.3);
  --logo-filter: invert(0);
}

body {
  margin: 3.5rem auto;
  max-width: 60ch;
  font-family: var(--font);
  height: fit-content;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1rem;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

#logo-link, #color-switch {
  text-decoration: none;
}

img#logo {
  width: 10%;
  margin-right: 0.5em;
  filter: var(--logo-filter);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.card {
  padding: 0.5rem;
  border: 1px solid #5f6368;
  margin: 1rem;
  border-radius: 5px;
  width: inherit;
  height: fit-content;
  background: transparent;

  box-shadow: 2px 2px 0px 0px var(--card-shadow);
}

.card:active {
  box-shadow: 2px 2px 0px 0px var(--card-shadow);
}

input, select {
  border: 2px solid grey;
  border-radius: 5px;
  background-color: transparent;
  color: var(--text-color);
  font-family: var(--font);
}

input:not([type='checkbox']):not([type='submit']), select {
  min-width: 15ch;
}

input[readonly] {
  border: none;
  text-align: right;
}

#your-details.noborder {
  border: none;
}

.card a {
  color: var(--link-color);
  text-decoration: none;
}

.tag {
  border: 1px solid #5f6368;
  border-radius: 10%;
  color: white;
  background: none;
  font-family: var(--font);
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-top: 0.5em;
  padding: 0.2rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#clip {
  /* gradient courtesy of cssgradient.io */
  background: rgb(237, 105, 0);
  background: linear-gradient(90deg, rgba(237, 105, 0, 1) 0%, rgba(217, 0, 0, 1) 50%, rgba(144, 0, 115, 1) 100%);
  width: fit-content;

  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

  font-weight: bold;

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#color-switch {
  position: fixed;
  top: 0.5em;
  right: 0.5em;

  font-size: 2em;
  text-shadow: 2px 2px 0px var(--card-shadow);
  border-radius: 100%;

  user-select: none;
  cursor: pointer;
}

#color-switch:active {
  text-shadow: 0 0 1px var(--card-shadow);
}

.modal-back {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  user-select: none;
  justify-content: center;
  align-items: center;
}

.modal-front {
  background-color: var(--background-color);
  user-select: text;
  width: 50%;
  margin-top: -15%;
}

input[type='submit'], select, input[type='checkbox'] {
  cursor: pointer;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.form-group.submit-group {
  margin-top: 1rem;
  justify-content: flex-end;
}

#swap {
  appearance: none;
  -webkit-appearance: none;
  border: none;
}

#swap::after {
  padding: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  transition-duration: 0.2s;
}

#swap:not(:checked)::after {
  content: "No";
  background: #ff5b5b;
}

#swap:checked::after {
  color: white;
  content: "Yes";
  background: #007cdf;
}

form.body-form {
  max-width: 40ch;
  width: 100%;
}

.body-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

summary {
  user-select: none;
  cursor: pointer;
}

#filter-rooms {
  margin: 1rem;
}

details:not([open]) {
  margin-bottom: 1rem;
}

#your-details {
  border-bottom: 2px solid gray;
  padding-bottom: 1rem;
}

@media not all and (hover:none) {
  #swap:hover {
    filter: brightness(1.2);
  }

  input[type='submit']:hover {
    border-width: 2px;
    filter: brightness(1.2);
  }
}

.room-heading {
  font-weight: bold;
}

.room-meta {
  margin-left: 0.5rem;
}

.room-occupants {
  margin: 0;
}

.toast {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  text-align: center;
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/*For Phones*/
@media (max-aspect-ratio: 1/1) {
  body {
    -webkit-tap-highlight-color: transparent;
    max-width: 90vw;
  }

  img#logo {
    width: 20%;
  }

  #color-switch {
    position: absolute;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}